/* Citations */

.quire-citation {
  display: inline;
  text-align: inherit;
  box-sizing: inherit;
  border-width: 0;
  background-color: #efebec;
  padding-left: .25em;
  padding-right: .25em;
  border-radius: .25em;
  font-size: .8em;
  font-weight: 400;
  color: #706c6d;
  cursor: pointer;
  white-space: nowrap;
}

.quire-citation-content {
  display: none;
  position: absolute;
  margin-left: 1em;
  margin-top: 1em;
  font-size: .8em;
  line-height: 1.5;
  background-color: #efebec;
  border-radius: 10px;
  padding: 1em;
  max-width: 30em;
  text-indent: 0;
}

.quire-citation-content__no-css {
  display: none;
}

.quire-citation:hover + .quire-citation-content,
.quire-citation:focus + .quire-citation-content {
  display: block;
}

/* Cover */

.quire-cover__text__title {
  color: #c4d544;
}
.quire-cover__footer {
  background-color: #ecebf5;
}
.quire-body.quire-body-type--cover .quire-nav-group {
  background-color: #000;
}
.quire-cover__background {
  justify-content: center;
}
.quire-cover__inner {
  margin-top: 30vh;
  text-align: right;
}
.quire-cover__inner__subtitle {
  font-size: 8vh;
  line-height: 9vh;
  font-weight: 700;
}
.quire-cover__inner__contributor {
  font-size: 3.2vh;
  font-weight: 400;
  color: #cbc9e4;
  margin-top: 0;
}

/* Menu -- Dark Style */

.quire-menu__background {
  background-color: #706c6d;
}

.quire-menu__inner .quire-title__subtitle {
  font-weight: 700;
}
.quire-menu__inner .quire-title__contributors {
  color: #a29e9f;
  font-size: 75%;
  font-weight: 400;
  margin-top: 0;
}

.quire-menu__inner__links h3 button {
  color: #a29e9f;
}

.quire-menu__inner__links ul,
.quire-menu__inner__links__citation {
  color: #fff;
}

.quire-menu__inner__footer {
  color: #fff;
}

.quire-menu__inner__footer a {
  color: #fff;
  text-decoration: underline;
  text-decoration-skip: ink;
}

.quire-menu__inner a,
.quire-menu__inner__header .quire-title,
.quire-menu__inner__header .quire-title a,
.quire-menu__inner button {
  color: #efebec;
}

.quire-body-type--cover .quire-nav-group svg.quire-link-list__icon {
  fill: #efebec;
}

/* Hide "Jump to Notes" link on pages without footnotes */

#posters-16-cappellina .quire-page__header__page-navigation__notes,
#posters-17-erhan .quire-page__header__page-navigation__notes,
#posters-18-iazurlo .quire-page__header__page-navigation__notes,
#posters-19-mack .quire-page__header__page-navigation__notes,
#posters-21-stamatopoulou .quire-page__header__page-navigation__notes {
  display: none;
}

/* Contributors list */

.q-contributors__list:nth-of-type(2) #reinhard-bek,
.q-contributors__list:nth-of-type(2) #rachel-rivenc,
.q-contributors__list:nth-of-type(2) #timothy-p\.-whalen {
  display: none;
}

/* Symposium Participants list */

#participants ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

#participants ul li {
  margin-bottom: 1rem;
}

#participants ul li p {
  margin-bottom: 0;
}

.quire-page__content__main blockquote > p {
  margin-bottom: .5rem;
}

br.pdf-toc {
  display: none;
}

/* Print */

@media print {

  a {
    color: cmyk(0,0,0,1);
  }
  .quire-body.quire-body-type--cover .quire-nav-group {
    background-color: transparent;
  }
  .quire-body-type--cover .quire-cover__inner__title {
    width: auto;
  }
  .quire-cover__inner__series {
    background-color: transparent;
    color: cmyk(0,0,0,0.55);
    letter-spacing: 2pt;
    margin-right: .25in;
  }
  .quire-body-type--cover .quire-cover__inner {
    margin-right: .25in;
  }
  .quire-body-type--cover .quire-cover__inner__title {
    font-size: 36pt;
    line-height: 46pt;
  }
  .quire-body-type--cover .quire-cover__inner__contributor {
    color: cmyk(0,0,0,1);
    font-size: 16pt;
    line-height: 22pt;
  }
  .quire-body-type--cover .quire-cover__inner__publisher {
    color: cmyk(0,0,0,0.55);
    font-size: 14pt;
    line-height: 20pt;
    margin-top: 4in;
  }

  /*Start main page numbering at Opening Remarks*/
  .quire-body#opening-remarks {
    counter-reset: page 1;
  }

  #contents br.pdf-toc {
    display: inherit;
  }

  .quire-page__content__main h3 {
    margin-bottom: 6pt;
  }

  .quire-citation {
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    white-space: normal;
  }

  #participants ul li {
    margin-bottom: 1em;
    page-break-inside: avoid;
    break-inside: avoid;
  }

  #videos .quire-page__content__main h2 {
    column-span: all;
    width: 100%;
    clear: both;
  }
  #videos .q-figure-grid {
    page-break-inside: inherit;
    break-inside: inherit;
  }
  #videos .q-figure__inner-figure {
    page-break-inside: avoid;
    break-inside: avoid;
    margin-bottom: 1em;
  }
  #videos h2:nth-of-type(2) {
    page-break-before: always;
  }
  #fig-1-9,
  #fig-2-4,
  #fig-3-2,
  #fig-13-8,
  #fig-15-3,
  #fig-21-1 {
    page-break-after: always;
  }
  #fig-13-7,
  #fig-13-8,
  #videos .q-figure.q-figure-grid .q-figure__inner-figure.q-grid-2 {
    width: 48.4%;
  }
  #fig-15-1,
  #fig-20-1 {
    width: 70%;
  }
  #fig-7-3,
  #fig-7-4 {
    width: 80%;
  }
}
