/* Primary Color, from application.css */

a,
code,
.quire-menu__inner__header .quire-title,
.quire-menu__inner__links button,
.quire-cover__inner__title,
.quire-page__header__title,
.quire-page__section-list__link button {
  color: #9eb300;
}
a:active, a:focus, a:hover {
  color: shade(#9eb300, 25%);
}

.quire-nav svg,
.quire-menu__button svg,
.quire-search svg,
.quire-page__section-list__link svg {
  fill: #9eb300;
}

/* Primary Color, from overrides */

.quire-cover__text__title {
  color: #c4d544;
}

.quire-cover__footer {
  background-color: #ecebf5;
}

/* Citations */

.quire-citation {
  display: inline;
  text-align: inherit;
  box-sizing: inherit;
  border-width: 0;
  background-color: #eaeaea;
  padding-left: .25em;
  padding-right: .25em;
  border-radius: .25em;
  font-size: .8em;
  font-weight: 400;
  color: #727272;
  cursor: pointer;
  white-space: nowrap;
}

.quire-citation-content {
  display: none;
  position: absolute;
  margin-left: 1em;
  margin-top: 1em;
  font-size: .8em;
  line-height: 1.5;
  background-color: #eee;
  border-radius: 10px;
  padding: 1em;
  max-width: 30em;
  text-indent: 0;
}

.quire-citation-content__no-css {
  display: none;
}

.quire-citation:hover + .quire-citation-content,
.quire-citation:focus + .quire-citation-content {
  display: block;
}

/* Cover */

.quire-baseof.quire-cover .quire-nav-group {
  background-color: #000;
}

.quire-cover__video-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1000;
  overflow: hidden;
}

.quire-cover__video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);

}
.quire-cover__text {
  margin-top: 50vh;
  height: 50vh;
  text-align: right;
  padding-right: 15vh;
}

.quire-cover__text__title {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 8vh;
  line-height: 9.2vh;
  letter-spacing: 1px;
}
.quire-title__text__subtitle {
  display: block;
}
.quire-cover__text__reading-line {
  color: #eaeaea;
  display: block;
  font-size: 4.76vh;
  line-height: 5.355vh;
  font-weight: 400;
  letter-spacing: 0px;
  margin-top: 5vh;
}
.quire-cover__text__contributor {
  font-family: "Lato", sans-serif;
  /*color: #eaeaea;*/
  color: #cbc9e4;
  font-size: 3.2vh;
  line-height: 5vh;
  margin-top: 4vh;
  margin-bottom: 8vh;
}

.quire-cover__series {
  background-color: #727272;
  font-size: 1.8vh;
  letter-spacing: .5vh;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  bottom: 0;
  right: 0;
  padding-right: 15vh;
  padding-left: 2.8vh;
  padding-top: 1.4vh;
  padding-bottom: 2vh;
  z-index: -500;
}

.quire-cover__content {
  max-width: 40rem;
  margin: 4em auto;
}

.quire-cover__content p {
  text-indent: 0;
  margin-bottom: 1em;
}

.quire-cover__footer {
  display: flex;
  justify-content: space-between;
  font-size: .8rem;
  line-height: 1.5em;
  padding: 2em;
  font-weight: 400;
  color: #727272;
}

.quire-cover__footer a {
  color: #727272;
  text-decoration: underline;
  text-decoration-skip: ink;
}

.quire-cover__footer__text {
  max-width: 30rem;
}

.quire-cover__footer__text p {
  text-indent: 0;
}

.quire-cover__footer__text ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  color: #727272;
  margin-top: .5em;
}

.quire-cover__footer__text ul li {
  list-style-type: none;
  margin-right: .25em;
}

.quire-cover__footer__text ul li::after {
  padding-left: .25em;
  content: "|";
}

.quire-cover__footer__text ul li:last-child::after {
  content: "";
}

.quire-cover__footer__logo svg {
  fill: #727272;
  width: 3.5em;
  height: 3.5em;
}

/* Menu -- Dark Style */

.quire-menu__background {
  background-color: #727272;
}

.quire-menu__inner .quire-title__contributors {
  color: #313131;
}

.quire-menu__inner__footer {
  color: #ffffff;
}

.quire-menu__inner__footer a {
  color: #ffffff;
  text-decoration: underline;
  text-decoration-skip: ink;
}

.quire-menu__inner a,
.quire-menu__inner__header .quire-title,
.quire-menu__inner__header .quire-title a,
.quire-menu__inner button {
  color: #eaeaea;
}

/* Contributors list */


#contributors .q-contributors__list .q-contributors__list__item#reinhard-bek {
  margin-bottom: 4rem;
}

#contributors .q-contributors__list .q-contributors__list__item#timothy-p\.-whalen {
  display: none;
}

/* Symposium Participants list */

#participants ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

#participants ul li {
  margin-bottom: 1rem;
}

#participants ul li p {
  margin-bottom: 0;
}

.quire-page__content__main blockquote > p {
  margin-bottom: .5rem;
}

/* Print */

@media print {

  a {
    color: cmyk(0,0,0,1);
  }

  .quire-page__content__main h3 {
    margin-bottom: 6pt;
  }

  .quire-contents__section ul a::after {
    content: leader(dotted) ' ' target-counter(attr(href, url), page);
  }

  .quire-body-type--section-head .quire-page {
    background-color: #9eb300;
  }
  .quire-citation {
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    white-space: normal;
  }
  #videos .quire-page__content__main h2 {
    column-span: all;
    width: 100%;
    clear: both;
  }
  #videos .q-figure-grid {
    page-break-inside: inherit;
    break-inside: inherit;
  }
  #videos .q-figure__inner-figure {
    page-break-inside: avoid;
    break-inside: avoid;
    margin-bottom: 1em;
  }
  #videos h2:nth-of-type(2) {
    page-break-before: always;
  }
  #contents .quire-page__content {
    column-count: 1;
  }
  #fig-1-9,
  #fig-2-4,
  #fig-3-2,
  #fig-13-8,
  #fig-15-3,
  #fig-21-1 {
    page-break-after: always;
  }
  #fig-13-7,
  #fig-13-8,
  #videos .q-figure.q-figure-grid .q-figure__inner-figure.q-grid-2 {
    width: 48.4%;
  }
  #fig-15-1,
  #fig-20-1 {
    width: 70%;
  }
  #fig-7-3,
  #fig-7-4 {
    width: 80%;
  }
}
