/* Citations */

.quire-citation {
  display: inline;
  text-align: inherit;
  box-sizing: inherit;
  border-width: 0;
  background-color: #efebec;
  padding-left: .25em;
  padding-right: .25em;
  border-radius: .25em;
  font-size: .8em;
  font-weight: 400;
  color: #706c6d;
  cursor: pointer;
  white-space: nowrap;
}

.quire-citation-content {
  display: none;
  position: absolute;
  margin-left: 1em;
  margin-top: 1em;
  font-size: .8em;
  line-height: 1.5;
  background-color: #efebec;
  border-radius: 10px;
  padding: 1em;
  max-width: 30em;
  text-indent: 0;
}

.quire-citation-content__no-css {
  display: none;
}

.quire-citation:hover + .quire-citation-content,
.quire-citation:focus + .quire-citation-content {
  display: block;
}

.referenced-in {
  display: block;
  text-transform: uppercase;
  font-size: .85em;
  color: #231f20;
}

/* Cover */

.quire-cover__text__title {
  color: #c4d544;
}
.quire-cover__footer {
  background-color: #ecebf5;
}
.quire-body.quire-body-type--cover .quire-nav-group {
  background-color: #000;
}
.quire-cover__background {
  justify-content: center;
}
.quire-cover__inner {
  margin-top: 30vh;
  text-align: right;
}
.quire-cover__inner__subtitle {
  font-size: 8vh;
  line-height: 9vh;
  font-weight: 700;
}
.quire-cover__inner__contributor {
  font-size: 3.2vh;
  font-weight: 400;
  color: #cbc9e4;
  margin-top: 0;
}

/* Menu -- Dark Style */

.quire-menu__background {
  background-color: #706c6d;
}

.quire-menu__inner .quire-title__subtitle {
  font-weight: 700;
}
.quire-menu__inner .quire-title__contributors {
  color: #a29e9f;
  font-size: 75%;
  font-weight: 400;
  margin-top: 0;
}

.quire-menu__inner__links h3 button {
  color: #a29e9f;
}

.quire-menu__inner__links ul,
.quire-menu__inner__links__citation {
  color: #fff;
}

.quire-menu__inner__footer {
  color: #fff;
}

.quire-menu__inner__footer a {
  color: #fff;
  text-decoration: underline;
  text-decoration-skip: ink;
}

.quire-menu__inner a,
.quire-menu__inner__header .quire-title,
.quire-menu__inner__header .quire-title a,
.quire-menu__inner button {
  color: #efebec;
}

.quire-menu__inner__links .quire-link-list__icon {
  fill: #efebec;
}

/* Hide "Jump to Notes" link on pages without footnotes */

#posters-16-cappellina .quire-page__header__page-navigation__notes,
#posters-17-erhan .quire-page__header__page-navigation__notes,
#posters-18-iazurlo .quire-page__header__page-navigation__notes,
#posters-19-mack .quire-page__header__page-navigation__notes,
#posters-21-stamatopoulou .quire-page__header__page-navigation__notes {
  display: none;
}

/* Contributors list */

.q-contributors__list:nth-of-type(2) #reinhard-bek,
.q-contributors__list:nth-of-type(2) #rachel-rivenc,
.q-contributors__list:nth-of-type(2) #timothy-p\.-whalen {
  display: none;
}

.q-contributors__list__item__link {
  display: block;
}

/* Symposium Participants list */

#participants ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

#participants ul li {
  margin-bottom: 1rem;
}

#participants ul li p {
  margin-bottom: 0;
}

#about .quire-copyright p {
  margin-bottom: 1em;
}

.quire-page__content__main blockquote > p {
  margin-bottom: .5rem;
}

br.pdf-toc {
  display: none;
}

/* Dont’t indent paragraphs after blockquotes */

.quire-page__content__main blockquote + p {
  text-indent: 0;
}

/* But do indent this one */

#theoretical-issues-15-brobbel_rees .quire-page__content__main blockquote:nth-of-type(9) + p {
  text-indent: 2rem;
}

.q-figure + h3 {
  margin-top: 2.25rem;
}

/* About page */

#about .quire-page__content__main .logo-block img {
  max-width: 30%;
  float: left;
  margin: 1rem 0 1rem;
}

#about .quire-page__content__main .logo-block img:nth-of-type(2) {
  margin: 1rem 5% 1rem;
}

#about .quire-page__content__main .gci-block {
  background-color: #efebec;
  padding: 1rem;
  border-radius: .5rem;
  margin-top: 2rem;
}

#about .quire-page__content__main .gci-block ul {
  list-style-type: none;
  padding-left: 0;
}

#about .quire-page__content__main .gci-block ul li {
  margin-bottom: 0;
}

/* Print */

@media print {

  @page footer:right {
    @bottom-left {
      font-style: normal;
    }
  }

  a {
    color: cmyk(0,0,0,1);
  }
  /*Remove anchor links to figs*/
  a[href^="#fig"] {
    prince-link: none;
  }
  .quire-body.quire-body-type--cover .quire-nav-group {
    background-color: transparent;
  }
  .quire-body-type--cover .quire-cover__inner__title {
    width: auto;
  }
  .quire-cover__inner__series {
    background-color: transparent;
    color: cmyk(0,0,0,0.55);
    letter-spacing: 2pt;
    margin-right: .25in;
  }
  .quire-body-type--cover .quire-cover__inner {
    margin-right: .25in;
  }
  .quire-body-type--cover .quire-cover__inner__title {
    font-size: 36pt;
    line-height: 46pt;
  }
  .quire-body-type--cover .quire-cover__inner__contributor {
    color: cmyk(0,0,0,1);
    font-size: 16pt;
    line-height: 22pt;
  }
  .quire-body-type--cover  .quire-cover__inner__title-page-text {
    margin: .625in 0;
    float: right;
  }
  .quire-body-type--cover  .quire-cover__inner__title-page-text p {
    color: cmyk(0,0,0,0.55);
    width: 3.5in;
    margin-bottom: 1em;
    margin-right: 0;
  }
  .quire-body-type--cover .quire-cover__inner__publisher {
    color: cmyk(0,0,0,0.55);
    font-size: 14pt;
    line-height: 20pt;
    margin-top: 4.25in;
  }

  /*Insert a blank page so Opening Remarks starts on right-hand page*/
  #preface::after {
    content: "#";
    color: #fff;
  }

  /*Start main page numbering at Opening Remarks*/
  .quire-body#opening-remarks {
    counter-reset: page 1;
  }

  #contents br.pdf-toc {
    display: inherit;
  }

  #contents ul.quire-contents .quire-contents__page--video:first-child {
    display: none;
  }

  #contents ul.quire-contents .quire-contents__page--frontmatter a::after {
    content: leader(dotted) ' ' target-counter(attr(href, url), page, lower-roman);
  }

  .quire-page__content__main h3 {
    margin-bottom: 6pt;
  }

  .quire-citation {
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    white-space: normal;
  }

  #participants ul li {
    margin-bottom: 1em;
    page-break-inside: avoid;
    break-inside: avoid;
  }

  #videos .quire-page__content__main h2 {
    column-span: all;
    width: 100%;
    clear: both;
  }
  #videos .q-figure-grid {
    page-break-inside: inherit;
    break-inside: inherit;
  }
  #videos .q-figure__inner-figure {
    page-break-inside: avoid;
    break-inside: avoid;
    margin-bottom: 1em;
  }
  #videos h2:nth-of-type(2) {
    page-break-before: always;
  }

  /* Force explicit page breaks (except in Index of Videos) so preceeding page will auto balance column lengths */
  #fig-I-2,
  #fig-1-11,
  #fig-2-6,
  #fig-3-6,
  #fig-8-1,
  #fig-15-2,
  #fig-15-5,
  #fig-15-7 {
    page-break-before: always;
  }
  #videos #fig-15-2,
  #videos #fig-15-5 {
    page-break-before: avoid;
  }

  #fig-1-9,
  #fig-2-4,
  #fig-2-7b + figcaption,
  #fig-3-2,
  #fig-13-8,
  #fig-15-3,
  #fig-21-1 {
    page-break-after: always;
  }
  #fig-2-6 {
    column-break-after: always;
  }
  #fig-2-7a,
  #fig-2-7b,
  #fig-13-7,
  #fig-13-8,
  #videos .q-figure.q-figure-grid .q-figure__inner-figure.q-grid-2 {
    width: 48.4%;
  }
  #fig-15-1,
  #fig-20-1 {
    width: 70%;
  }
  #fig-7-3,
  #fig-7-4 {
    width: 80%;
  }

  #theoretical-issues-15-brobbel_rees .quire-page__content__main blockquote:nth-of-type(9) + p {
    text-indent: 1.5em;
  }

  #posters-18-iazurlo .quire-page__header__title,
  #collections-10-pola_ferriani .quire-page__header__title,
  #posters-16-cappellina .quire-page__header__title {
    max-width: 5.5in;
  }

  #contributors .q-contributors__list:last-of-type,
  #theoretical-issues-14-dhaenens #preservation-and-functionality {
    column-break-before: always;
  }

  #contributors hr {
    display: none;
  }

  #videos h2 {
    page-break-before: always;
  }

  #videos h2:nth-of-type(1),
  #videos h2:nth-of-type(3),
  #videos h2:nth-of-type(5) {
    page-break-before: avoid;
  }

  #bibliography dd {
    page-break-inside: avoid;
  }

  .referenced-in,
  .referenced-in a {
    color: cmyk(0,0,0,1);
  }

  .q-figure + h3 {
    margin-top: 1.75em;
  }

  /* Copyright page */

  .quire-body-class--copyright .quire-page {
    margin-right: 0;
  }

  .quire-body-class--copyright .quire-page__content__main ul,
  .quire-body-class--copyright .quire-page__content__main p {
    margin-right: 2.4375in;
  }

  .quire-body-class--copyright .quire-page__content__main .logo-block,
  .quire-body-class--copyright .quire-page__content__main .logo-block p {
    margin-right: 0;
  }

  .quire-body-class--copyright .quire-page__content__main .logo-block {
    width: 2.1875in;
    float: right;
  }

  .quire-body-class--copyright .quire-page__content__main .logo-block img {
    max-width: 90%;
  }

  #copyright .logo-block p {
    margin-bottom: 0;
  }

  .quire-body-class--copyright .quire-page__content__main ul:first-of-type {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
  }

}
