{{ define "main" }}
<div class="quire-page">
  <header class="quire-page__header">
    <h1 class="quire-page__header__title"><span class="quire-page__header__number">{{ with .Params.id }}{{ . }}. {{ end }}</span>{{ .Title | markdownify }}{{ with .Params.subtitle }}: {{ . | markdownify }}{{ end }}</h1>
    {{ if or (eq .Params.contributor_byline "top") ( eq .Params.contributor_byline nil) }}
      <ul class="quire-page__header__contributor">
      {{ range .Params.contributor }}
        <li>{{ .first_name }} {{ .last_name }}{{ if or .title .affiliation }}, {{ with .title }}{{ . }}{{ end }}{{ with and .title .affiliation }}, {{ end }}{{ with .affiliation }}{{ . }}{{ end }}{{ end }}</li>
      {{ end }}
      </ul>
    {{ end }}
    <nav class="quire-page__header__page-navigation" role="navigation" aria-label="page"><ul><li>Jump to: <a href="#essay-text">Main Text</a></li> <li><a href="#notes">Notes</a></li>{{ if ($.Scratch.GetSortedMapValues "cited") }} <li><a href="#bibliography">Bibliography</a></li>{{ end }}</ul></nav>
  </header>
  <div class="quire-page__content">
    <section class="quire-page__content__abstract">
      <h2>Abstract</h2>
      <div>
      {{ .Params.abstract | markdownify }}
      </div>
      <hr />
    </section>
    <section class="quire-page__content__main" id="essay-text">
      {{ .Content }}
    </section>

    <!-- Duplicates part of the code from q-cite.html in order to add
  additional_references to the page-level bibliography list -->
    {{- range .Params.additional_references -}}
      {{- $short := . -}}
      {{- range $.Site.Data.bibliography.entries -}}
          {{- if eq .short $short -}}
              {{- $.Scratch.Add "full" .full -}}
              {{- $.Scratch.Add "full" " " -}}
          {{- end -}}
      {{- end -}}
      {{- $full := $.Scratch.Get "full" -}}
      {{- $.Page.Scratch.SetInMap "entry" "0" $short -}}
      {{- $.Page.Scratch.SetInMap "entry" "1" $full -}}
      {{ $entry := ($.Page.Scratch.GetSortedMapValues "entry") }}
      {{- $shortId := . | urlize -}}
      {{- $.Page.Scratch.SetInMap "cited" $shortId $entry -}}
    {{- end -}}

    {{ if ($.Scratch.GetSortedMapValues "cited") }}
    <section class="quire-page__content__references" id="bibliography">
      <h2>Bibliography</h2>
      <dl>
      {{ range ($.Scratch.GetSortedMapValues "cited") }}
          <dt>{{ markdownify (index . 0) }}</dt>
          <dd id="{{ urlize (index . 0) }}">{{ markdownify (index . 1)}}</dd>
      {{ end }}
      </dl>
    </section>
    {{ end }}
    {{ if eq .Params.contributor_byline "bottom" }}
      <ul class="quire-page__content__contributor">
      {{ range .Params.contributor }}
        <li>{{ .first_name }} {{ .last_name }}{{ if or .title .affiliation }}<br />{{ with .title }}{{ . }}{{ end }}{{ with and .title .affiliation }}, {{ end }}{{ with .affiliation }}{{ . }}{{ end }}{{ end }}</li>
      {{ end }}
      </ul>
    {{ end }}
</div>
{{ end }}
